:root {
    --primary-blue-01: #cfd4ed;
    --primary-blue-02: #aeb7e1;
    --primary-blue-03: #5e70c4;
    --primary-blue-04: #0d28a6;
    --primary-blue-05: #091b6f;
    --primary-green-01: #def1df;
    --primary-green-02: #c9e7ca;
    --primary-green-03: #92d094;
    --primary-green-04: #5cb85f;
    --primary-green-05: #3d7b3f;
    --success: #73ca5c;
    --danger: #f9cc00;
    --warning: #fa2c5a;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    /* font-size: 14px; */
    /* font-weight: 400; */
    /* color: black; */
    text-decoration: none;
    transition: 0.3s linear;
}

a {
    color: black;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.bg--blue {
    background-color: #f1f3ff;
}

.btn--primary-green {
    background-color: var(--primary-green-04);
    color: white;
    border: 1px solid var(--primary-green-04);
    border-radius: 2px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    transition: 0.3s linear;
    font-weight: 700;
}

.color-primary-blue-01 {
    color: var(--primary-blue-01);
}

.color-primary-blue-04 {
    color: var(--primary-blue-04);
}

.header__title,
.jumbotron__title {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.header__article,
.services__article,
.why-us__article,
.testimonial__article,
.card-text,
.jumbotron__article,
.FAQ__article,
.footer__article {
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.mr-152 {
    margin-right: 152px;
}

.services__title,
.why-us__title,
.testimonial__title,
.FAQ__title {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
}

#testimonial {
    margin: 100px 0px 0px 0px;
}

.card {
    /* width: 268px; */
    /* height: 196px; */
    border-radius: 8px;
    border: 1px solid #d0d0d0;
}

.card-title {
    font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

nav {
    display: block;
}

.carousel-button__custom {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 88px;
}

.arrow-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border-style: solid;
    border-color: #c4c4c4;
    border-width: 1px;
    background-color: transparent;
    transition: background-color 0.3s ease;
}

.arrow-circle:hover {
    background-color: var(--primary-green-04);
    border-style: none;
}

.arrow-circle i {
    color: black;
    transition: color 0.3s ease;
}

.arrow-circle:hover i {
    color: white;
}